Log notice file /var/log/tor/notices.log
RunAsDaemon 1
HiddenServiceDir /var/lib/tor/hidden_service/
HiddenServicePort {{ port_tor }} 127.0.0.1:{{ port_local }}
HiddenServiceAuthorizeClient stealth {{ auth }}
